
/* Add your CSS below! */


body {
	color: #000000;
    text-align: center;
    background-color:  #70593E;
    background-image: url('assets/images/bgimage.png');
	font-size:18px;
	font-family: 'Amatic SC';
}

h1 {
	font-family:  Helvetica, sans-serif;
	font-size:45px;
	color: #9E3B33;
}
 
 
a {
   color:  #211111;
   text-decoration: none;
 }

::selection {
  background: #FDCBE6; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #FDCBE6; /* Gecko Browsers */
}



#example{
	width: 200px;
	height: 600px;
	/*background-color:  #CFC7A9;*/
	float:right;
	overflow: hidden;
}

#canvascontainer{	
	
	margin: 0 auto;		
	border: 2px solid #000000;
	width: 800px;
	height: 600px;
	/* display: inline-block;	*/
}

#cr-stage { 
	background-color:  #ECFECC;
	color: white;
	/*float:left;*/
	
}

.scoreheader {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.boldMessage {
  font-weight: bold;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}